<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>真棒、摸摸大，爱你</string>
		<key>time</key>
		<string>前天 10:27</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>❤️</string>
		<key>time</key>
		<string>前天 10:28</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>啥？什么事，有事启奏，无事退朝，快快说来，给朕听听。来人伺坐</string>
		<key>time</key>
		<string>昨天 20:05</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>今天你的写真我也买了哦~</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>真棒，么么，爱你</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>说回复函数回复啥复活谁开发大会上的卡夫卡</string>
		<key>time</key>
		<string>昨天 20:07</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>明天就娶你，相信我！</string>
		<key>time</key>
		<string>昨天 20:11</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>(;´༎ຶД༎ຶ`)~~ 阳阳是天使</string>
		<key>time</key>
		<string>昨天 20:15</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>明天记得带4快5，民政局见！</string>
		<key>time</key>
		<string>昨天 20:15</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>/(ㄒoㄒ)/~~ 阳阳是天使,/(ㄒoㄒ)/~~ 阳阳是天使,/(ㄒoㄒ)/~~ 阳阳是天使,/(ㄒoㄒ)/~~ 阳阳是天使,/(ㄒoㄒ)/~~ 阳阳是天使,/(ㄒoㄒ)/~~ 阳阳是天使,/(ㄒoㄒ)/~~ 阳阳是天使,/(ㄒoㄒ)/~~ 阳阳是天使,/(ㄒoㄒ)/~~ 阳阳是天使,/(ㄒoㄒ)/~~ 阳阳是天使</string>
		<key>time</key>
		<string>昨天 20:15</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
